html, body{
	font-size:18px;
	font-family: "Roboto";
	color: #0E0C0F;
	background-color: #DDCCE7; 
}

a {
  color: #191C1B;
}

a:hover {
  color: #191C1B;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	font-family: "Roboto";
	background: #DDCCE7;
}

.section-2 {
	font-family: "Roboto";
	background-color: #DDCCE7;
}

.section-3 {
	font-family: "Roboto";
	background-color: #DDCCE7;
}

.section-4 {
	font-family: "Roboto";
	background-color: #DDCCE7;
	padding: 0.2rem;
}

a.nav-item {
	color: #0E0C0F;
}

a.nav-item:hover {
	color: #0E0C0F;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	font-family: "Roboto";
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	font-family: "Roboto";
	text-align: justify;
}

.box {
	background-color: transparent;
/* 	border: 2px solid rgba(7, 59, 79, 0.5); */
}

.title {
	color: #fff;
	font-family: "Roboto";
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	font-family: "Roboto";
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #DDCCE7;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #DDCCE7;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
